/__OOAD
__OOAD/
.vs/
.DS_Store
composer.lock

/node_modules
/storage/*.key
/storage
/storage/logs/*.log
/vendor
.env
composer.json
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
supervisord.log
supervisord.pid
storage/debugbar
storage/debugbar.*
# /resources/lang
/.idea/sonarlint
/.idea

